body {
    margin: 0;
    background-color: black;
}

.score {
    position: fixed;
    margin-left: 5px;
    margin-top: 5px;
    user-select: none;
}

.score span {
    color: white;
    font-size: 14px;
}

.start-game-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game {
    background-color: white;
    max-width: 450px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.start-game button {
    border-radius: 100px;
    margin: 10px;
    padding: 15px;
    width: 90%;
    background-color: lightskyblue;
    color: white;
}

.start-game button:hover {
    background-color: blue;
    transition-duration: 0.5s;
}